<template>
    <div>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Duración</th>
                    <th>Clínica</th>
                    <th>Médico</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="cita in citas">
                    <td>{{ cita.hora_inicio | toLocaleDate }}</td>
                    <td>{{ cita.hora_inicio | toLocaleTime }}</td>
                    <td>{{ cita.duracion }}</td>
                    <td>{{ cita.clinica.nombre }}</td>
                    <td>{{ cita.medico.nombre }}</td>
                </tr>
            </tbody>
        </table>
    </div>
</template>

<script>
export default {
    name: "CitasVigentes",
    props: [
        'routeData'
    ],
    data() {
        return {
            citas: []
        }
    },
    filters: {
        toLocaleDate: function (value) {
            return new Date(value).toLocaleDateString('es-Ch')
        },
        toLocaleTime: function (value) {
            return new Date(value).toLocaleTimeString('es-Ch')
        }
    },
    mounted() {
        axios.get(this.routeData, {
            id_medico: this.id_medico,
            id_clinica: this.id_clinica
        }).then(response => {
            this.citas = response.data.citas;
        }).catch(error => {
            this.citas = [];
        })
    }
}
</script>

<style scoped>

</style>
