<template>
    <div>
        <div>
            <form @submit.prevent="getCupos">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Clínica</label>
                            <div class="input-group">
                                <select v-model="id_clinica" class="form-select">
                                    <option v-bind:value="null" disabled>Seleccione una clínica</option>
                                    <option v-for="clinica in clinicas" v-bind:value="clinica.id">
                                        {{ clinica.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Médico</label>
                            <div class="input-group">
                                <select v-model="id_medico" class="form-select">
                                    <option v-bind:value="null" disabled>Seleccione un médico</option>
                                    <option v-for="medico in medicos" v-bind:value="medico.id">
                                        {{ medico.nombre }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label></label>
                            <div class="input-group">
                                <button class="btn btn-secondary" type="submit">Buscar cupos</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <hr>
        <div>
            <h3>Cupos</h3>
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Hora</th>
                    <th>Duración</th>
                    <th>Opción</th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="cupo in cupos">
                    <td>{{ cupo.hora_inicio | toLocaleDate }}</td>
                    <td>{{ cupo.hora_inicio | toLocaleTime }}</td>
                    <td>{{ cupo.duracion }}</td>
                    <td>
                        <button @mousedown="reservar(cupo)">
                            <span v-if="!cupo.reservada">RESERVAR</span>
                            <span v-else>CANCELAR</span>
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
export default {
    name: "Nueva.vue",
    props: [
        'routeData',
        'routeCupos',
        'routeReservar'
    ],
    filters: {
        toLocaleDate: function (value) {
            return new Date(value).toLocaleDateString('es-Ch')
        },
        toLocaleTime: function (value) {
            return new Date(value).toLocaleTimeString('es-Ch')
        }
    },
    data: function () {
        return {
            id_medico: null,
            id_clinica: null,
            id_cita: null,
            medicos: [],
            clinicas: [],
            cupos: []
        }
    },
    methods: {
        getData() {
            axios.post(this.routeData)
                .then(response => {
                    this.clinicas = response.data.clinicas;
                    this.medicos = response.data.medicos;
                }).catch(error => {
                this.clinicas = [];
                this.medicos = [];
            })
        },
        getCupos() {
            axios.post(this.routeCupos, {
                id_medico: this.id_medico,
                id_clinica: this.id_clinica
            }).then(response => {
                this.cupos = response.data.cupos;
            }).catch(error => {
                this.cupos = [];
            })
        },
        reservar(data) {
            axios.post(this.routeReservar, {
                id_cita: data.id
            }).then(response => {
                this.getCupos();
            }).catch(error => {})
        }
    },
    mounted() {
        this.getData();
    }
}
</script>
